body{
    font-family: 'poppins';
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(bg.jpg);
    background-size: cover;
}

.calculatorArea{
    width: 320px;
    height: 560px;
    background-color: #eaedef;
    margin-left: 750px;
    top: 22px;
    position: relative;
    border-radius: 10px;
}

.result{
    height: 120px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}

.history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 16px;
    color: #bdbdbd;
}

.output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    color: white;
}

.input-area{
    height: 400px;
    margin-top: 20px;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 20%;
    border-width: 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'poppins';
    transition: transform 0.5s, filter 0.5s ease-in-out;
}

.operator:hover, .number:hover{
    transform: scale(1.2);
}

.operator{
    border-radius: 50%;
    border-width: 0px;
}

.number{
    background-color: #d1d1d1;
    border-radius: 50%;
    border-width: 0px;
}

.empty{
    background-color: #eaedef;
}

.number, .operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(1){
    background-color: #ee4646;
    color: white;
}

button:nth-child(2){
    background-color: #ee4646;
    color: white;
}

button:nth-child(3){
    background-color: #ee4646;
    color: white;
}

button:nth-child(4){
    background-color: #f59b15;
    font-size: 20px;
    color: white;
}

button:nth-child(8){
    background-color: #37cf88;
    font-size: 20px;
    color: white;
}

button:nth-child(12){
    background-color: #ff51a8;
    font-size: 20px;
    color: white;
}

button:nth-child(16){
    background-color: #44da36;
    font-size: 20px;
    color: white;
}

button:nth-child(20){
    background-color: #ab44ff;
    font-size: 20px;
    color: white;
}

.textArea{
    position:absolute;
    margin-left: 200px;
    margin-top: 80px;
}

.textArea h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.textArea p{
    font-size: 21px;
    color: rgb(0, 0, 0);
    margin-top: 60px;
    text-align: center;
}

li{
    margin-left: 20px;
	border:1px solid rgb(255, 187, 0);
    border-radius: 50%;
	display: inline-block;
    background-color: rgb(255, 187, 0);
}

.textArea .fa{
    padding: 10px;
    text-align: center;
	height: 20px;
    width: 20px;
}

a{
	display: block;
    color: white;
    transition: transform 0.5s, filter 0.5s ease-in-out;
}

a:hover{
    transform: scale(1.5);
}

/* responsive media query start */

@media (min-width: 1367px) {
    
    .calculatorArea{
        margin-left: 1050px;
        top: 180px;
        position: relative;
        border-radius: 10px;
    }

    .textArea{
        margin-left: 350px;
        margin-top: 150px;
    }
    
    .textArea h1{
        font-size: 80px;
    }
    
    .textArea p{
        font-size: 25px;
        text-align: left;
    }
    
    li{
        margin-left: 50px;
    }
    
}

@media (max-width: 375px) {
    
    .calculatorArea{
        margin-left: 20px;
        top: 80px;
        position: relative;
        border-radius: 10px;
    }

    .textArea{
        margin-left: 90px;
        margin-top: -10px;
        text-align: center;
    }
    
    .textArea h1{
        font-size: 20px;
    }
    
    .textArea p{
        font-size: 13px;
        text-align: center;
        margin-top: 610px;
    }
    
    li{
        margin-top: -20px;
        margin-bottom: 20px;
        margin-left: 5px;
    }

    .textArea .fa{
        padding: auto;
        text-align: center;
        height: 15px;
        width: 15px;
    }

    a:hover{
        transform: scale(1.2);
    }
    

}